@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --bg-dark: #2b2727;
  --black: #000000;
  --text-color: #fff;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--bg-dark);
  color: var(--text-color);
}

main {
  min-height: 80vh;
}

header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 13px 49px;
  margin-bottom: 12px;
  background-color: var(--black);
}

header ul {
  list-style: none;
  display: flex;
  column-gap: 16px;
  margin-left: auto;
}
header ul a {
  text-decoration: none;
  color: var(--text-color);
}

header ul li.active {
  text-decoration: underline;
}

footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  column-gap: 8px;
  text-align: left;
  border: 3px solid #333;
  align-items: center;
}

footer p {
  padding: 8px;
}

@media (min-width: 768px) {
  header {
    padding: 30px;
  }
  ul {
    column-gap: 85px;
    margin-right: 37px;
    font-size: 21px;
  }
}

.show-count {
  display: inline-block;
  color: #f00;
  font-weight: 500;
}
