.popup-dialog {
  display: none;
  min-height: 40%;
  width: 100%;
  margin: 16px auto;
  padding-left: 18px;
  padding-bottom: 32px;
  border: 2px solid #333;
  background-color: #f7f7f7f1;
}

.popup-top {
  display: flex;
  justify-content: flex-start;
  column-gap: 18px;
  padding-top: 16px;
}

.popup-image {
  width: 80%;
}

.title {
  text-align: center;
  padding: 8px;
}

.detail {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 24px 8px;
  text-transform: capitalize;
}

.detail li {
  font-weight: 700;
  letter-spacing: 0.03em;
}

.comment-list {
  font-weight: 600;
  letter-spacing: 0.03em;
  border-bottom: #333 1px solid;
  padding: 10px;
  color: #2f2f2f;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 24px;
  padding-top: 24px;
}

::placeholder {
  font-weight: 900;
  color: #333;
}

.your-name {
  width: 40%;
  border: 2px #2f2f2f solid;
  padding: 5px;
  color: #333;
}

.message {
  width: 60%;
  border: 2px #2f2f2f solid;
  padding: 5px;
}

.add-comment {
  width: 40%;
  box-shadow: 4px 4px 1px #333;
  padding: 5px;
  font-weight: 900;
  border: 2px solid #333;
  cursor: pointer;
}

.empty-name,
.empty-comment {
  color: rgb(238, 80, 80);
  font-weight: bold;
  display: none;
}

@media screen and (min-width: 768px) {
  .popup-dialog {
    min-height: 40%;
    width: 40%;
    margin: 16px auto;
  }

  .popup-top {
    display: flex;
    justify-content: center;
    column-gap: 34px;
    align-items: flex-start;
    padding-top: 16px;
    padding-left: 32px;
  }

  .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
  }

  .comment-list {
    padding: 5px;
  }
}

